* {
    box-sizing: border-box;
    font-family: 'Raleway', Arial, sans-serif;
}
.container1{
    margin: 0;
    padding: 0;
    margin-bottom: 0;
    border-radius: 0;
}
.navbar{
    display: flex;
    flex-direction: column;
    background-color: #ffffff00;
    padding: 0%;
    margin: 0%;
    margin-top: 3%;
    border-radius: 0%;
    flex: auto;
    align-items: center;
}
.navbar a{
    text-decoration: none;
    color: #000000;
    padding: 1vw;
    font-size: 2vw;
    align-items: center;
    justify-items: center;
    transition: all 0.2s;
}

.navbar a:hover{
    text-decoration: none;
    color: #848484;
    padding: 1vw;
    font-size: 2.1vw;
    transition: all 0.2s;
}

.titleGroup{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0%;
    padding: 0%;
    margin-bottom: 0%;
    border-radius: 0%;
    background-color: #ffffff00;
}

.titleGroup h1{
    font-size: 8vw;
    color: #000000;
    margin: 0%;
    padding: 0%;
    margin-bottom: 0%;
    border-radius: 0%;
}

.gifHolder{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    padding: 0;
    margin-bottom: 0;
    border-radius: 0;
    background-color: #ffffff00;
    scale: 0.8;
}
figure.imageHolder{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    padding: 0;
    margin-bottom: 0;
    border-radius: 0;
    background-color: #ffffff00;
}

figure.imageHolder img {
    width: 50%; 
    height: auto;
    margin: 0; 
    padding: 0; 
}

figure.imageHolder figcaption{
    font-size: 1vw;
    color: #000000;
    margin: 0;
    padding: 0;
    margin-top: .75vw;
    margin-bottom: 2vw;
    border-radius: 0;
}

figure.imageHolder figcaption1 {
    font-size: 1vw;
    color: #000000;
    margin: 0;
    padding: 0;
    margin-bottom: 2vw;
    border-radius: 0;
}

figure.imageHolder figcaption2{
    font-size: 1vw;
    color: #000000;
    margin: 0;
    padding: 0;
    margin-top: .75vw;
    border-radius: 0;
}




.textHolder{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    background-color: #ffffff00;
}
.textHolder h3{
    font-size: 3vw;
    color: #000000;
    margin: 0;
    padding: 0;
    margin-bottom: 0;
    border-radius: 0;
}
.textHolder h3_1{
    font-size: 3vw;
    color: #000000;
    margin: 0;
    padding: 0;
    margin-bottom: .75vw;
    border-radius: 0;
}

.textHolder p{
    font-size: 2vw;
    color: #000000;
    margin: 0;
    padding: 0;
    margin-bottom: 0;
    border-radius: 0;
    padding: 2%;
}
.pdfHolder{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 0;
    background-color: #ffffff00;
    width: 100%;
    height: 41vw;
}

.returnButton{
    text-decoration: none;
    color: #000000;
    padding: 1vw;
    font-size: 2vw;
    align-items: center;
    justify-items: center;
    transition: all 0.2s;
    margin: 1vw;
}


.returnButton:hover{
    text-decoration: none;
    color: #848484;
    transform: scale(1.05); /* Scale the text */
    transition: all 0.2s;
}

.fillerText{
    text-align: justify;
    width: 65%;
    font-size: 2vw;
}

.fillerText2{
    text-align: center;
    width: 65%;
    font-size: 2vw;
}

.returnButton2{
    text-decoration: none;
    color: #000000;
    padding: 0;
    font-size: 2vw;
    align-items: center;
    justify-items: center;
    transition: all 0.2s;
    margin: 0;
    cursor: pointer;
}

.returnButton2:hover{
    text-decoration: none;
    color: #848484;
    font-size: 2.1vw;
    transition: all 0.2s;
}

.dataLink{
    text-decoration: none;
    color: #000000;
    padding: 1vw;
    font-size: 4vw;
    align-items: center;
    justify-items: center;
    transition: all 0.2s;
}

.dataLink:hover{
    text-decoration: none;
    color: #848484;
    padding: 1vw;
    font-size: 4.1vw;
    transition: all 0.2s;
}
